* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: inherit;
}
body {
  background-image: linear-gradient(rgb(36, 19, 74),rgb(139, 30, 139) ,  #5e62ab);
  color: black;
  font-family: 'Roboto Slab', serif;
  margin: 0;

}
a {
  color: white;
  text-decoration: none;
}
/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px !important ;
  }
  .menu a{
    font-size: 17pt;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px !important;
  }

}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgba(34, 34, 34, 0.70);
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 5px 40px 5px;
}


.menu a:hover {
  text-decoration: none;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.158); 
}

.site-subtitle,
.site-title {
  color: white;
  text-align: center;
}
.site-title{
    font-size: 34pt;
    font-family: 'Balsamiq Sans', cursive;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Raleway', sans-serif;
}

.fa{
  color: white;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transition: all 0,2s;
}

.projetos{
  padding: 2em;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.158);
}
.projetos h2{
  font-family: 'Balsamiq Sans', cursive;
  color: white;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  font-size: 20pt;
}
.projetos .grid{
  display: grid;
  gap: 2em;
  color: white;
  justify-content: center;
}
@media (min-width:560px){
  .projetos .grid{
   grid-template-columns: 270px 270px;
   justify-content: center;
  }
}
@media (min-width:880px){
  .projetos .grid{
   grid-template-columns: repeat(3, 280px);
   align-content: center;
   justify-content: center;
   height: calc(100vh - 4em - 48px - 1.5em );
  }
}
.projetos figure{
  text-align: center;
}
.img-portfolio {
  width: 280px;
  height: 300px;
  object-fit: cover;
  margin: auto;
  border-radius: 4px;
}
.img-portfolio:hover{
  transform: scale(1.05);
}
